.login-wrapp {
  display: grid;
  justify-content: center;
  margin-top: 50px;
}

.title-login {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.button-wrapp {
  display: flex;
  align-items: flex-end;
  a {
    margin-left: 30px;
  }
}
